*, html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,
b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,
hgroup,menu,nav,section,summary,time,mark,audio,a 
{font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;line-height:20px;font-size:14px;color:#444;margin:0;padding:0;border:0;letter-spacing:0;
outline:0;background:none;text-rendering:optimizelegibility;position:relative;font-weight:normal;text-align:left;
-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: -moz-none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

body {background:#fff;}
.wrapper{width:950px;margin:0 auto;}
#header{height:185px;padding:40px 0 0 0;}

#leftside{float:left;margin:0;width:130px;border-right:1px solid #ccc;box-shadow:0 3px 5px #ededed;padding:0 10px 0 10px;height:1000px;}
#center{float:left;margin:0;width:825px;border:0;padding:5px 15px;}
#footer{position:absolute;bottom:0;left:0;width:100%;background:rgba(0,0,0,0.7);padding:0px 10px;}
#footer *{color:#fff;}

input, select {padding:2px;height:22px;border:1px solid #4E99E4;}
input[type=submit]{cursor:pointer;font-weight:normal;padding:0 20px;background:#fff;color:#444;}
input[type=button]{cursor:pointer;font-weight:normal;padding:0 20px;text-decoration:none;background:#fff;color:#444;}
input[type=checkbox]{margin:3px 6px 6px 0!important;width:16px;padding:0;float:left;}


ul#mainmenu {list-style-type:none;width:950px;margin:0;padding:20px 0 17px 0;z-index:1000;
		    background:#fff;border-bottom:2px solid #000;}
ul#mainmenu li{float:left;}
ul#mainmenu li a{font-size:20px;text-transform:uppercase;color:#2d2d2d;line-height:26px;
font-weight:bold;font-family:Roboto Condensed;letter-spacing:-1px;float:left;margin:0 30px;}
ul#mainmenu li a.active{color:#3e1754;}

a {text-decoration:none;color:#444;}
a img {border:0;}
ul, ul li{list-style-type:none;}
ul, ul.align-left li{float:left;}
ul.padding-left-30 li{padding:0 0 0 30px;}

hr{border:0;border-bottom:1px solid #f2f2f2;}
hr.dotted{border:0;border-bottom:1px dotted #f2f2f2;}
hr.line{border:0;background:#fff url(../images/icons/line-menu.png) repeat-x scroll 0 0;height:3px;}
hr.gradient{
	border:0;
	height:1px;
	margin:0 0 10px 0;
  background:linear-gradient(left, white 3%, gray 20%, green 50%, gray 80%, white 97%);
  background:-moz-linear-gradient(left, white 3%, gray 20%, green 50%, gray 80%, white 97%);
  background:-webkit-linear-gradient(left, white 3%, gray 20%, green 50%, gray 80%, white 97%);
  background:-o-linear-gradient(left, white 3%, gray 20%, green 50%, gray 80%, white 97%);
}
ol.none, ul.none{list-style-type:none;padding:0;margin:0;}

h1, h1 a{font-size:45px;text-transform:uppercase;color:#2f0343;line-height:90px;
font-weight:bold;font-family:Roboto Condensed;letter-spacing:-1px;margin:0 0 20px 0;border-bottom:1px solid #f2f2f2;}
h2, h2 a{font-size:25px;text-transform:uppercase;color:#444;line-height:50px;
font-weight:bold;font-family:Roboto Condensed;letter-spacing:-1px;margin:0 0 10px 0;text-align:center;}
h3, h3 a{font-size:25px;text-transform:uppercase;color:#444;line-height:50px;
font-weight:bold;font-family:Roboto Condensed;letter-spacing:-1px;margin:0;text-align:center;
}
h4, h4 a{font-size:21px;text-transform:uppercase;color:#2f0343;line-height:40px;
font-weight:normal;font-family:Roboto Condensed;letter-spacing:-1px;margin:0;
}
h5, h5 a{font-size:17px;text-transform:uppercase;color:#444;line-height:23px;
font-weight:bold;font-family:Roboto Condensed;letter-spacing:0px;margin:0;
}

cufon {height:17px!important;}

table{padding:0;margin:0;}
table tr{padding:0;margin:0;vertical-align:top;}
table tr td{padding:0;margin:0;vertical-align:top;}

input,textarea{padding:2px 10px;height:16px;border:1px solid #2f0343;color:#444;}
input:focus, textarea:focus{border:1px solid #444;}
textarea{height:80px;}

strong,b{font-weight:bold!important;}

.clear {clear:both;height: 0;}
.left {float:left;}
.right {float:right;}

.align-left{text-align:left;}
.align-right{text-align:right;}
.align-center{text-align:center;}
.justify {text-align:justify;}

.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}

.pointer {cursor:pointer;}
.relative {position:relative;}
.absolute {position:absolute;}

.bold{font-weight:bold;}
.em{font-style:italic;}
.upper{text-transform:uppercase;}
.lower{text-transform:lowercase;}

.gradient{
  background:linear-gradient(top, #efefef 14%, #fff 57%);
  background:-moz-linear-gradient(top, #efefef 14%, #fff 57%);
  background:-webkit-linear-gradient(top, #efefef 14%, #fff 57%);
  background:-o-linear-gradient(top, #efefef 14%, #fff 57%);
}
.border-radius-4{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.border-radius-10{border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.border-radius-90{border-radius:90px;-moz-border-radius:90px;-webkit-border-radius:90px;}

.image{border:1px solid #f2f2f2;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}

.fancy-custom{display:none;text-align:justify;padding:20px;}

.pager {margin:0;padding:0;width:100%;}
.pager a {float:left;margin:1px;padding:5px 12px;border:1px solid #dedede;border-radius:2px;}
.pager a:hover {background:#dedede;color:#444;}
.pager a.selected {background:#dedede;color:#444;font-weight:bold;}
.pager .total{float:right;margin:5px 0 0 0;font-style:italic;}

.page{padding:30px 0;background:#fff;}
.showmore{border-top:1px solid #9784A2;border-bottom:1px solid #9784A2;color:#3e1754;font-weight:normal;padding:0 1px;line-height:18px;}
.timestamp, a.timestamp{color:#74677a;font-size:10px;text-transform:uppercase;margin:0 0 5px 0;}
.highlight, a.highlight{color:#2f0343;font-size:12px;text-transform:uppercase;margin:0 0 5px 0;}
.desc-gray, a.desc-gray{color:#999;text-align:center;}
.desc-lightgray, a.desc-lightgray{color:#bbb;text-align:center;}

.enquiry input, select, textarea{padding:10px 3px;background:#fbfbfb;border:1px solid #dedede;margin:0 2px 10px 0;}

.itinerary {border:3px solid #af8cbf; padding:5px 15px;margin:5px 0 0 0; width:90%;}
.itinerary ul{list-style-type:none;}
.itinerary ul li{border-bottom:1px solid #efefef;margin:15px 0;}
.itinerary ul li div.desc{color:gray;margin:5px 0 15px 0;text-align:justify;}
.itinerary ul li div.desc img{float:right;margin:5px 0 0 15px;}

.required {border:1px solid red!important;}
