.flex-container a:active,
.flexslider-offer a:active,
.flex-container a:focus,
.flexslider-offer a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider-offer {margin: 0; padding: 0;width:450px;height:250px;}
.flexslider-offer .slides > li {height:250px;display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider-offer .slides img {height:250px;width: 100%; display: block;}
.flexslider-offer .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.flexslider-offer .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.flexslider-offer .no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider-offer {margin:0 0 0 0;background:none;border:0; position: relative;zoom: 1;}
.flexslider-offer .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.flexslider-offer .loading .flex-viewport {max-height:;}
.flexslider-offer .slides {zoom: 1;}

.flexslider-offer .carousel li {margin-right: 5px}


/* Direction Nav */
.flexslider-offer .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(../../images/icons/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flexslider-offer .flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flexslider-offer .flex-direction-nav .flex-prev {left: -36px;}
.flexslider-offer:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider-offer:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider-offer:hover .flex-next:hover, .flexslider-offer:hover .flex-prev:hover {opacity: 1;}
.flexslider-offer .flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flexslider-offer .flex-control-nav {width: 100%; position: absolute; top:10px; right:7px; text-align: right;}
.flexslider-offer .flex-control-nav li {margin:0 0 0 7px; display: inline-block; zoom: 1; *display: inline;}
.flexslider-offer .flex-control-paging li a {width:21px; height:21px; display:block; background: rgba(255,255,255,0.7); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; box-shadow: inset 0 0 3px rgba(0,0,0,0.2);}
.flexslider-offer .flex-control-paging li a:hover {background: rgba(255,255,255,0.5); }
.flexslider-offer .flex-control-paging li a.flex-active {background: rgba(255,255,255,0.9); cursor: default; }

.flexslider-offer .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flexslider-offer .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flexslider-offer .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flexslider-offer .flex-control-thumbs img:hover {opacity: 1;}
.flexslider-offer .flex-control-thumbs .active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flexslider-offer .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flexslider-offer .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}